<div class="uicard">

    <div class="fon">
        <img src="http://s45.radikal.ru/i110/1703/7f/352430671cbd.jpg">
    </div>

    <div class="user">
        <img src="http://s020.radikal.ru/i704/1703/f8/445c49629467.jpg">
        <p>@UserName </p>
    </div>
    <div class="socialinfo">
        <div class="socialtext1">
            <p>725</p>
            <p>followers</p>
        </div>

        <div class="socialtext2">
            <p>517</p>
            <p>following</p>
        </div>

        <div class="socialtext3">
            <p>411</p>
            <p>stories</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string UserName { get; set; }
}
