<div class="wrapper">
    <div class="top-icons">
        <i class="fas fa-long-arrow-alt-left"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="far fa-heart"></i>
    </div>

    <div class="profile">
        <img src="@User.ProfilePic" class="thumbnail">
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">@User.FullName</h3>
        <p class="title">@User.UserName</p>
        <button type="button" class="btn">Takip Et</button>
    </div>
</div>


@code {

    [Parameter]
    public InstaUser User { get; set; }
}
